<section class="parkalia-register-auth-user-step1-page">
    <div class="parkalia-register-auth-user-step1-page__glow parkalia-register-auth-user-step1-page__glow--left"></div>
    <div class="parkalia-register-auth-user-step1-page__glow parkalia-register-auth-user-step1-page__glow--right"></div>
    <div class="parkalia-register-auth-user-step1-layout">
        <section class="parkalia-register-auth-user-step1">
            <div class="parkalia-register-auth-user-step1__card">
                <div class="parkalia-register-auth-user-step1__topbar">
                    <a href="javascript:history.back()"
                        class="parkalia-btn-secondary parkalia-recipients-table__btn-secondary">

                        <img src="/frontend/public/assets/icons/icon_back.svg"
                            alt=""
                            class="parkalia-btn-secondary__icon parkalia-recipients-table__btn-secondary-icon">

                    </a>
                </div>
                <header class="parkalia-register-auth-user-step1__header">
                    <h2 class="parkalia-register-auth-user-step1__title">Crear Cuenta</h2>
                    <p class="parkalia-register-auth-user-step1__subtitle">Completa tus datos para acceder a
                        <strong class="parkalia-register-auth-user-step1__highlight">parkalia</strong></p>
                </header>
                <form class="parkalia-register-auth-user-step1__form">
                    <div class="parkalia-register-auth-user-step1__field">
                        <label class="parkalia-register-auth-user-step1__label">Nombre completo</label>
                        <div class="parkalia-register-auth-user-step1__input-wrapper">
                            <img src="/frontend/public/assets/icons/icon_user_yellow.svg" class="parkalia-register-auth-user-step1__input-icon" alt="">
                            <input type="text" class="parkalia-register-auth-user-step1__input" placeholder="Ej: Pepito Pérez">
                        </div>
                    </div>
                    <div class="parkalia-register-auth-user-step1__field">
                        <label class="parkalia-register-auth-user-step1__label">Tipo de documento</label>
                        <div class="parkalia-register-auth-user-step1__input-wrapper">
                            <img src="/frontend/public/assets/icons/icon_id_yellow.svg" class="parkalia-register-auth-user-step1__input-icon" alt="">
                            <select class="parkalia-register-auth-user-step1__input">
                                <option value="" selected disabled> Selecciona tu documento </option>
                                <option value="TI"> Tarjeta de Identidad (TI)</option>
                                <option value="CC"> Cédula de Ciudadanía (CC)</option>
                                <option value="CE"> Cédula de Extranjería</option>
                                <option value="PAS"> Pasaporte</option>
                            </select>
                        </div>
                    </div>
                    <div class="parkalia-register-auth-user-step1__field">
                        <label class="parkalia-register-auth-user-step1__label">Número de documento</label>
                        <div class="parkalia-register-auth-user-step1__input-wrapper">
                            <img src="/frontend/public/assets/icons/icon_hash_yellow.svg" class="parkalia-register-auth-user-step1__input-icon" alt="">
                            <input type="text" class="parkalia-register-auth-user-step1__input" placeholder="Ej: 1234567890">
                        </div>
                    </div>
                    <div class="parkalia-register-auth-user-step1__field">
                        <label class="parkalia-register-auth-user-step1__label">Teléfono</label>
                        <div class="parkalia-register-auth-user-step1__input-wrapper">
                            <img src="/frontend/public/assets/icons/icon_phone_yellow.svg" class="parkalia-register-auth-user-step1__input-icon" alt="">
                            <input type="tel" class="parkalia-register-auth-user-step1__input" placeholder="3001234567">
                        </div>
                    </div>
                    <div class="parkalia-register-auth-user-step1__button-primary">
                        <a href="view_parkalia_register_auth_user2.html" class="parkalia-btn parkalia-btn--primary parkalia-btn--expand">
                            <span class="parkalia-btn__text">Siguiente</span>
                            <img src="/frontend/public/assets/icons/icon_next-white.svg" alt="" class="parkalia-btn__icon">
                        </a>
                    </div>
                </form>
            </div>
        </section>
        <aside class="parkalia-register-auth-user-step1-banner">
            <img src="/frontend/public/assets/images/img_banking2.jpg" alt="parkalia" class="parkalia-register-auth-user-step1-banner__image">
            <div class="parkalia-register-auth-user-step1-banner__overlay"></div>
            <div class="parkalia-register-auth-user-step1-banner__card">
                <span class="parkalia-register-auth-user-step1-banner__badge">
                    PARKALIA PARKING SYSTEM
                </span>

                <h2 class="parkalia-register-auth-user-step1-banner__title">
                    Registra tu cuenta y comienza a gestionar tu parqueadero
                </h2>

                <p class="parkalia-register-auth-user-step1-banner__text">
                    Crea tu cuenta para administrar vehículos, controlar ingresos y salidas, consultar el historial de operaciones y optimizar la gestión de tu parqueadero de forma rápida y segura.
                </p>
            </div>
        </aside>
    </div>
</section>