<aside class="parkalia-sidebar-principal">
    <div class="parkalia-sidebar-principal__logo">
    </div>
    <nav class="parkalia-sidebar-principal__nav">
        <div class="parkalia-sidebar-principal__group">
            <button class="parkalia-sidebar-principal__menu-button active"><span>Inicio</span></button>
        </div>
        <div class="parkalia-sidebar-principal__group">
            <button class="parkalia-sidebar-principal__menu-button active"><span>Transferencias</span></button>
            <ul class="parkalia-sidebar-principal__submenu">
                <a href="/frontend/src/html/pages/dashboard/banking/transfers/cards/vista_parkalia_new_transfer.html" 
                class="parkalia-sidebar__link"> Nueva Transferencia (Ejecución)</a>
                <a href="/frontend/src/html/pages/dashboard/banking/transfers/tables/view_parkalia_table_transfer_history.html" class="parkalia-sidebar__link"> Historial y Comprobantes</a>
                <a href="/frontend/src/html/pages/dashboard/banking/transfers/tables/view_parkalia_scheduled_consultations_transfers.html" 
                class="parkalia-sidebar__link"> Consultas programadas</a>
                <a href="/frontend/src/html/pages/dashboard/banking/transfers/tables/view_parkalia_recipients.html" 
                class="parkalia-sidebar__link--double"> Gestión de Destinatarios y Favoritos</a>
                <a href="#" 
                class="parkalia-sidebar__link--double"> Seguridad y Funciones Especiales</a>
            </ul>
        </div>
        <div class="parkalia-sidebar-principal__group">
            <button class="parkalia-sidebar-principal__menu-button"><span>Autorizaciones</span></button>
            <ul class="parkalia-sidebar-principal__submenu">
                <a href="#" class="parkalia-sidebar__link">Gestionar autorizaciones</a>
                <a href="#" class="parkalia-sidebar__link">Operación por Aprobar</a>
                <a href="#" class="parkalia-sidebar__link--double">Administra y Esquemas de Autorización</a>
                <a href="#" class="parkalia-sidebar__link--double">Autoriza de Operaciones No Monetarias</a>
                <a href="#" class="parkalia-sidebar__link">Historial de autorizaciones</a>
                <a href="#" class="parkalia-sidebar__link">Seguridad y Autenticación</a>
            </ul>
        </div>
        <div class="parkalia-sidebar-principal__group">
            <button class="parkalia-sidebar-principal__menu-button"><span>Nómina Electrónica</span></button>
            <ul class="parkalia-sidebar-principal__submenu">
                <a href="/frontend/src/html/pages/dashboard/banking/payrollpayment/tables/view_parkalia_manage_groups.html" class="parkalia-sidebar__link">Administrar grupos</a>
                <a href="/frontend/src/html/pages/dashboard/banking/payrollpayment/tables/view_parkalia_employee_management_table.html" class="parkalia-sidebar__link">Administrar empleados</a>
                <a href="/frontend/src/html/pages/dashboard/banking/electronic%20payroll/view_parkalia_dian.html" 
                class="parkalia-sidebar__link">Transmi automática a la DIAN</a>
                <a href="#" 
                class="parkalia-sidebar__link">Pago de nómina</a>
                <a href="/frontend/src/html/pages/dashboard/banking/payrollpayment/tables/view_payroll_payment_history.html" class="parkalia-sidebar__link">Historial de pagos de nómina</a>
                <a href="/frontend/src/html/pages/dashboard/banking/payrollpayment/tables/view_parkalia_scheduled_consultations_payroll.html" 
                class="parkalia-sidebar__link">Consultas programadas</a>
            </ul>
        </div>
        <div class="parkalia-sidebar-principal__group">
            <button class="parkalia-sidebar-principal__menu-button"><span>Inversiones</span></button>
            <ul class="parkalia-sidebar-principal__submenu">
                <a href="#" class="parkalia-sidebar__link">Fo de Inversión y Fiducias</a>
                <a href="#" class="parkalia-sidebar__link">Acci y ETFs</a>
                <a href="#" class="parkalia-sidebar__link">Certific de Depósito (CDT/CDA)</a>
                <a href="#" class="parkalia-sidebar__link">-advisors</a>
                <a href="#" class="parkalia-sidebar__link">Inversi Sostenibles (ESG)</a>
                <a href="#" class="parkalia-sidebar__link">Herramie de Educación y Análisis</a>
            </ul>
        </div>
        <div class="parkalia-sidebar-principal__search">
            <img src="/frontend/public/assets/icons/icon_search.svg" alt="Buscar" class="parkalia-sidebar-principal__search-icon">
            <input type="text" placeholder="Buscar operación..." class="parkalia-sidebar-principal__search-input">
        </div>
    </nav>
</aside>