<section class="parkalia-reset-password-page">
  <div class="parkalia-reset-password-page__glow parkalia-reset-password-page__glow--left"></div>
  <div class="parkalia-reset-password-page__glow parkalia-reset-password-page__glow--right"></div>
  <div class="parkalia-reset-password-layout">
    <section class="parkalia-reset-password">
      <div class="parkalia-reset-password__card">
        <div class="parkalia-reset-password__topbar">
          <a href="javascript:history.back()" alt="Volver" class="parkalia-btn-secondary parkalia-recipients-table__btn-secondary">
              <img src="/frontend/public/assets/icons/icon_back.svg" alt="" class="parkalia-btn-secondary__icon parkalia-recipients-table__btn-secondary-icon">
          </a>
        </div>
        <header class="parkalia-reset-password__header">
          <h2 class="parkalia-reset-password__title">Restablecer contraseña</h2>
          <p class="parkalia-reset-password__subtitle">Ahora puedes crear una nueva contraseña para tu cuenta en
            <strong class="parkalia-reset-password__highlight">parkalia</strong> Asegúrate de que sea segura y fácil de recordar.
          </p>
        </header>
        <form class="parkalia-reset-password__form">
          <div class="parkalia-reset-password__field">
            <label class="parkalia-reset-password__label">Nueva contraseña</label>
            <div class="parkalia-reset-password__input-wrapper">
              <img src="/frontend/public/assets/icons/icon_password_yellow.svg" class="parkalia-reset-password__input-icon" alt="">
              <input type="password" class="parkalia-reset-password__input parkalia-reset-password__input--password" placeholder="********">
              <button type="button" class="parkalia-reset-password__toggle-password">
                <img src="/frontend/public/assets/icons/icon_open-eye.svg" alt="">
              </button>
            </div>
          </div>
          <div class="parkalia-reset-password__field">
            <label class="parkalia-reset-password__label">Confirmar contraseña</label>
            <div class="parkalia-reset-password__input-wrapper">
              <img src="/frontend/public/assets/icons/icon_password_yellow.svg" class="parkalia-reset-password__input-icon" alt="">
              <input type="password" class="parkalia-reset-password__input parkalia-reset-password__input--password" placeholder="********">
              <button type="button" class="parkalia-reset-password__toggle-password">
                <img src="/frontend/public/assets/icons/icon_open-eye.svg" alt="">
              </button>
            </div>
          </div>
          <div class="parkalia-reset-password__button-primary">
            <a href="/frontend/src/html/pages/view_parkalia_login.html" class="parkalia-btn parkalia-btn--primary parkalia-btn--expand">
                <span class="parkalia-btn__text">Restablecer contraseña</span>
                <img src="/frontend/public/assets/icons/icon_reset_password_white.svg" alt="" class="parkalia-btn__icon">
            </a>
          </div>
        </form>
      </div>
    </section>
    <aside class="parkalia-reset-password-banner">
      <img src="/frontend/public/assets/images/img_banking8.jpg" alt="parkalia" class="parkalia-register-step1-banner__image">
      <div class="parkalia-reset-password-banner__overlay"></div>
      <div class="parkalia-reset-password-banner__card">
        <span class="parkalia-reset-password-banner__badge">parkalia SECURITY</span>
        <h2 class="parkalia-reset-password-banner__title">Nueva contraseña</h2>
        <p class="parkalia-reset-password-banner__text">Protege tu cuenta con una contraseña fuerte y segura.</p>
      </div>
    </aside>
  </div>
</section>