<section class="parkalia-login-page">
    <div class="parkalia-login-page__glow parkalia-login-page__glow--left"></div>
    <div class="parkalia-login-page__glow parkalia-login-page__glow--right"></div>
    <div class="parkalia-login-layout">
        <section class="parkalia-login">
            <div class="parkalia-login__card">
                <div class="parkalia-login__topbar">
                    <a href="vista_forgot_password.html"class="parkalia-btn-secondary">
                        <img src="/frontend/public/assets/icons/icon_back.svg" alt="" class="parkalia-btn-secondary__icon">
                    </a>
                </div>
                <header class="parkalia-login__header">
                    <h2 class="parkalia-login__title">Iniciar Sesión</h2>
                    <p class="parkalia-login__subtitle">Bienvenido nuevamente a
                        <strong class="parkalia-login__highlight">parkalia</strong><br>Accede de forma segura a tu sistema de parqueadero.
                    </p>
                </header>
                <form class="parkalia-login__form">
                    <div class="parkalia-login__field">
                        <label class="parkalia-login__label">Correo electrónico</label>
                        <div class="parkalia-login__input-wrapper">
                            <img src="/frontend/public/assets/icons/icon_email.svg" alt="" class="parkalia-login__input-icon">
                            <input type="email" class="parkalia-login__input" placeholder="correo@parkalia.com">
                        </div>
                    </div>
                    <div class="parkalia-login__field">
                        <div class="parkalia-login__label-row">
                            <label class="parkalia-login__label">Contraseña</label>
                            <a href="/frontend/src/html/pages/auth/vista_forgot_password.html"class="parkalia-login__forgot-link">¿Olvidaste tu contraseña?</a>
                        </div>
                        <div class="parkalia-login__input-wrapper">
                            <img src="/frontend/public/assets/icons/icon_password.svg" alt="" class="parkalia-login__input-icon" >
                            <input type="password" class="parkalia-login__input parkalia-login__input--password" placeholder="••••••••" >
                            <button type="button" class="parkalia-login__toggle-password">
                                <img src="/frontend/public/assets/icons/icon_open-eye.svg" alt="Mostrar contraseña" >
                            </button>
                        </div>
                    </div>
                    <div class="parkalia-login__options">
                        <label class="parkalia-login__checkbox">
                            <input type="checkbox">
                            <span class="parkalia-login__checkbox-custom"></span>
                            <span class="parkalia-login__checkbox-text">Mantener sesión iniciada
                            </span>
                        </label>
                    </div>
                     <div class="parkalia-login__button-primary">
                        <button class="parkalia-btn parkalia-btn--primary parkalia-login__parkalia-btn--primary parkalia-btn--expand">
                            <span class="parkalia-btn__text">Ingresar a parkalia</span>
                            <img src="/frontend/public/assets/icons/icon_next-white.svg" alt="" class="parkalia-btn__icon">
                        </button>
                    </div>
                    <div class="parkalia-login__divider"><span> o continuar con </span></div>
                    <div class="parkalia-login__socials">
                        <button type="button" class="parkalia-login__social-button">
                            <img src="/frontend/public/assets/icons/icon_google.png" alt="" class="parkalia-btn__icon-social-media">
                            <span>Google</span>
                        </button>
                        <button type="button" class="parkalia-login__social-button">
                            <img src="/frontend/public/assets/icons/icon_apple.png" alt="" class="parkalia-btn__icon-social-media">
                            <span>Apple</span>
                        </button>
                    </div>
                    <div class="parkalia-login__footer">
                        <p class="parkalia-login__footer-text">¿No tienes una cuenta?
                        <a href="/frontend/src/html/pages/auth/vista_register_step1.html"class="parkalia-login__register-link">Crear cuenta</a></p>
                    </div>
                </form>
            </div>
        </section>
        <aside class="parkalia-login-banner">
            <img src="/frontend/public/assets/images/img_banking.png" alt="parkalia" class="parkalia-login-banner__image">
            <div class="parkalia-login-banner__overlay"></div>
            <div class="parkalia-login-banner__card">
                <span class="parkalia-login-banner__badge">SECURE DIGITAL BANKING</span>
                <a href="/about/" class="parkalia-login__link"> Página Inical</a>
                <h2 class="parkalia-login-banner__title"> Banking Reimagined</h2>
                <p class="parkalia-login-banner__text">
                    Seguridad avanzada, velocidad global y
                    una experiencia financiera creada para
                    el futuro digital.
                </p>
            </div>
        </aside>
    </div>
</section>