<section class="parkalia-forgot-password-page">
  <div class="parkalia-forgot-password-page__glow parkalia-forgot-password-page__glow--left"></div>
  <div class="parkalia-forgot-password-page__glow parkalia-forgot-password-page__glow--right"></div>
  <div class="parkalia-forgot-password-layout">
    <section class="parkalia-forgot-password">
      <div class="parkalia-forgot-password__card">
        <div class="parkalia-forgot-password__topbar">
          <a href="javascript:history.back()" alt="Volver" class="parkalia-btn-secondary parkalia-recipients-table__btn-secondary">
              <img src="/frontend/public/assets/icons/icon_back.svg" alt="" class="parkalia-btn-secondary__icon parkalia-recipients-table__btn-secondary-icon">
          </a>
        </div>
        <header class="parkalia-forgot-password__header">
          <h2 class="parkalia-forgot-password__title">Recuperar contraseña</h2>
          <p class="parkalia-forgot-password__subtitle">Escribe tu correo electrónico registrado en
            <strong class="parkalia-forgot-password__highlight">parkalia</strong><br>
            Te enviaremos un código para verificar tu identidad.
          </p>
        </header>
        <form class="parkalia-forgot-password__form">
          <div class="parkalia-forgot-password__field">
            <label class="parkalia-forgot-password__label">Correo electrónico</label>
            <div class="parkalia-forgot-password__input-wrapper">
              <img src="/frontend/public/assets/icons/icon_email_yellow.svg" class="parkalia-forgot-password__input-icon" alt="">
              <input type="email" class="parkalia-forgot-password__input" placeholder="correo@gmail.com">
            </div>
          </div>
          <!-- BUTTON -->
          <div class="parkalia-forgot-password__button-primary">
            <a href="/frontend/src/html/pages/view_parkalia_code_verify.html" class="parkalia-btn parkalia-btn--primary parkalia-btn--expand">
                <span class="parkalia-btn__text">Recibir código</span>
                <img src="/frontend/public/assets/icons/icon_mail_white.svg" alt="" class="parkalia-btn__icon">
            </a>
          </div>
        </form>
      </div>
    </section>
    <aside class="parkalia-forgot-password-banner">
      <img src="/frontend/public/assets/images/img_banking8.jpg" alt="parkalia" class="parkalia-register-step1-banner__image">
      <div class="parkalia-forgot-password-banner__overlay"></div>
      <div class="parkalia-forgot-password-banner__card">
        <span class="parkalia-forgot-password-banner__badge">parkalia SECURITY</span>
        <h2 class="parkalia-forgot-password-banner__title">Recupera tu acceso</h2>
        <p class="parkalia-forgot-password-banner__text">Te ayudamos a recuperar tu cuenta de forma segura.</p>
      </div>
    </aside>
  </div>
</section>