<div class="parkalia-menu-overlay"></div>
<aside class="parkalia-menu-drawer">
    <div class="parkalia-menu-drawer__header">
        <div class="parkalia-menu-drawer__profile">
            <div class="parkalia-menu-drawer__avatar">JD</div>
            <div class="parkalia-menu-drawer__user">
                <h3 class="parkalia-menu-drawer__name">John Doe</h3>
                <span class="parkalia-menu-drawer__role">Cliente Empresarial</span>
            </div>
        </div>
        <button class="parkalia-menu-drawer__close">✕</button>
    </div>
    <div class="parkalia-menu-drawer__body">
        <a href="view_parkalia_profile_user.html" class="parkalia-menu-drawer__item">
            <img src="/frontend/public/assets/icons/icon_user_profile_white.svg" alt="" class="parkalia-menu-drawer__icon">
            <span class="parkalia-menu-drawer__text-item">Mi Perfil</span>
        </a>
        <a href="view_parkalia_security_history.html" class="parkalia-menu-drawer__item">
            <img src="/frontend/public/assets/icons/icon_security_white.svg" alt="" class="parkalia-menu-drawer__icon">
            <span class="parkalia-menu-drawer__text-item">Seguridad</span>
        </a>
        <a href="view_parkalia_notifications_history.html" class="parkalia-menu-drawer__item">
            <img src="/frontend/public/assets/icons/icon_notification_white.svg" alt="" class="parkalia-menu-drawer__icon">
            <span class="parkalia-menu-drawer__text-item">Notificaciones</span>
        </a>
        <a href="view_parkalia_settings_page.html" class="parkalia-menu-drawer__item">
            <img src="/frontend/public/assets/icons/icon_settings_white.svg" alt="" class="parkalia-menu-drawer__icon">
            <span class="parkalia-menu-drawer__text-item">Configuración</span>
        </a>
        <a href="view_parkalia_help_status.html" class="parkalia-menu-drawer__item">
            <img src="/frontend/public/assets/icons/icon_help_white.svg" alt="" class="parkalia-menu-drawer__icon">
            <span class="parkalia-menu-drawer__text-item">Centro de Ayuda</span>
        </a>
        <a href="view_parkalia_admin_page.html" class="parkalia-menu-drawer__item">
            <img src="/frontend/public/assets/icons/icon_administration_white.svg" alt="" class="parkalia-menu-drawer__icon">
            <span class="parkalia-menu-drawer__text-item">Administración</span>
        </a>
    </div>
    <div class="parkalia-menu-drawer__footer">
        <a href="/" class="parkalia-btn-secondary parkalia_manage_groups-table__btn-secondary"> 
            <img src="/frontend/public/assets/icons/icon_close_session_white.svg" alt="" class="parkalia-btn-secondary__icon parkalia_manage_groups-table__btn-secondary-icon">
            Cerrar Sesión
        </a>
    </div>
</aside>