<section class="parkalia-register-auth-user-step1-page">
  <div class="parkalia-register-auth-user-step1-page__glow parkalia-register-auth-user-step1-page__glow--left"></div>
  <div class="parkalia-register-auth-user-step1-page__glow parkalia-register-auth-user-step1-page__glow--right"></div>
  <div class="parkalia-register-auth-user-step1-layout">
    <section class="parkalia-register-auth-user-step1">
      <div class="parkalia-register-auth-user-step1__card">
        <div class="parkalia-register-auth-user-step1__topbar">
            <a href="javascript:history.back()"
                class="parkalia-btn-secondary parkalia-recipients-table__btn-secondary">

                <img src="/frontend/public/assets/icons/icon_back.svg"
                    alt=""
                    class="parkalia-btn-secondary__icon parkalia-recipients-table__btn-secondary-icon">

            </a>
        </div>
        <header class="parkalia-register-auth-user-step1__header">
          <h6 class="parkalia-register-auth-user-step1__title">Completa tu registro</h6>
          <p class="parkalia-register-auth-user-step1__subtitle">Último paso para crear tu cuenta en<strong class="parkalia-register-auth-user-step1__highlight">BANKFLEET</strong></p>
        </header>
        <form class="parkalia-register-auth-user-step1__form">
            <div class="parkalia-register-auth-user-step1__field">
                <label class="parkalia-register-auth-user-step1__label">Correo electrónico</label>
                <div class="parkalia-register-auth-user-step1__input-wrapper">
                    <img src="/frontend/public/assets/icons/icon_email_yellow.svg" class="parkalia-register-auth-user-step1__input-icon" alt="">
                    <input type="email" class="parkalia-register-auth-user-step1__input" placeholder="correo@bankfleet.com">
                </div>
            </div>
            <div class="parkalia-register-auth-user-step1__field">
                <label class="parkalia-register-auth-user-step1__label">Contraseña</label>
                <div class="parkalia-register-auth-user-step1__input-wrapper">
                    <img src="/frontend/public/assets/icons/icon_password_yellow.svg" class="parkalia-register-auth-user-step1__input-icon" alt="">
                    <input type="password" class="parkalia-register-auth-user-step1__input parkalia-register-auth-user-step1__input--password" placeholder="********">
                    <button type="button" class="parkalia-register-auth-user-step1__toggle-password">
                        <img src="/frontend/public/assets/icons/icon_open-eye.svg" alt="">
                    </button>
                </div>
            </div>
            <div class="parkalia-register-auth-user-step1__password-rules">
                <span class="parkalia-register-auth-user-step1__password-rules-title">
                    La contraseña debe contener:
                </span>

                <ul class="parkalia-register-auth-user-step1__password-list">
                    <li class="parkalia-register-auth-user-step1__password-item">
                        <span class="parkalia-register-auth-user-step1__password-dot"></span>
                        Mínimo 8 caracteres
                    </li>

                    <li class="parkalia-register-auth-user-step1__password-item">
                        <span class="parkalia-register-auth-user-step1__password-dot"></span>
                        Una letra mayúscula
                    </li>

                    <li class="parkalia-register-auth-user-step1__password-item">
                        <span class="parkalia-register-auth-user-step1__password-dot"></span>
                        Una letra minúscula
                    </li>

                    <li class="parkalia-register-auth-user-step1__password-item">
                        <span class="parkalia-register-auth-user-step1__password-dot"></span>
                        Un número
                    </li>

                    <li class="parkalia-register-auth-user-step1__password-item">
                        <span class="parkalia-register-auth-user-step1__password-dot"></span>
                        Un carácter especial (@, #, $, %, etc.)
                    </li>
                </ul>
            </div>
            <div class="parkalia-register-auth-user-step1__field">
                <label class="parkalia-register-auth-user-step1__label">Confirmar contraseña</label>
                <div class="parkalia-register-auth-user-step1__input-wrapper">
                    <img src="/frontend/public/assets/icons/icon_password_yellow.svg" class="parkalia-register-auth-user-step1__input-icon" alt="">
                    <input type="password" class="parkalia-register-auth-user-step1__input" placeholder="********">
                </div>
            </div>
            <div class="parkalia-register-auth-user-step1__button-primary">
                <a href="/frontend/src/html/pages/view_parkalia_login.html" class="parkalia-btn parkalia-btn--primary parkalia-btn--expand">
                    <span class="parkalia-btn__text">Siguiente</span>
                    <img src="/frontend/public/assets/icons/icon_next-white.svg" alt="" class="parkalia-btn__icon">
                </a>
            </div>
        </form>
      </div>
    </section>
    <aside class="parkalia-register-auth-user-step1-banner">
      <img src="/frontend/public/assets/images/img_banking7.webp" alt="BANKFLEET" class="bankfleet-register-step1-banner__image">
      <div class="parkalia-register-auth-user-step1-banner__overlay"></div>
      <div class="parkalia-register-auth-user-step1-banner__card">
        <span class="parkalia-register-auth-user-step1-banner__badge">
            PARKALIA PARKING SYSTEM
        </span>

        <h6 class="parkalia-register-auth-user-step1-banner__title">
            Acceso seguro a tu parqueadero
        </h6>

        <p class="parkalia-register-auth-user-step1-banner__text">
            Tu información y la de tus operaciones se protege con altos estándares de seguridad para que puedas administrar tu parqueadero con total confianza desde cualquier lugar.
        </p>
    </div>
    </aside>
  </div>
</section>