<header class="parkalia-navbar">
    <div class="parkalia-navbar__blur parkalia-navbar__blur--left"></div>
    <div class="parkalia-navbar__blur parkalia-navbar__blur--right"></div>
    <div class="parkalia-navbar__container">
        <div class="parkalia-navbar__left">
            
            <a href="/frontend/src/html/pages/view_parkalia_login.html"class="parkalia-navbar__brand">
                <!-- <div class="parkalia-navbar__brand-icon">B</div> -->
                <div class="parkalia-navbar__brand-content">
                    <h1 class="parkalia-navbar__logo">
                      <span class="parkalia-navbar__letter">P</span>
                      <span class="parkalia-navbar__letter">A</span>
                      <span class="parkalia-navbar__letter">R</span>
                      <span class="parkalia-navbar__letter">K</span>
                      <span class="parkalia-navbar__letter">A</span>
                      <span class="parkalia-navbar__letter">L</span>
                      <span class="parkalia-navbar__letter">I</span>
                      <span class="parkalia-navbar__letter">A</span>
                    </h1>
                    <span class="parkalia-navbar__brand-subtitle">GESTIÓN DIGITAL DE PARQUEADEROS</span>
                </div>
            </a>
        </div>
        <div class="parkalia-navbar__right">
            <div class="parkalia-navbar-session">
                <div class="parkalia-navbar-session__details-content-button">
                    <div class="parkalia-navbar-session__content">
                        <span class="parkalia-navbar-session__user">Juan David Rodríguez</span>
                        <div class="parkalia-navbar-session__details">
                            <span class="parkalia-navbar-session__status">● Sesión Activa</span>
                            <span class="parkalia-navbar-session__timer" id="parkaliaSessionTimer">00:00:00</span>
                            <span class="parkalia-navbar-session__last-login">Último acceso: 24/06/2026 08:42 PM </span>
                        </div>
                    </div>
                    <button class="parkalia-navbar__action-button">
                        <img src="/frontend/public/assets/icons/icon_notification_yellow.svg" alt="Notificaciones" class="parkalia-navbar__icon">
                        <span class="parkalia-navbar__notification-dot"></span>
                        <span class="parkalia-navbar__tooltip-left">Notificaciones</span>
                    </button>
                    <button class="parkalia-navbar__action-button parkalia-navbar__menu-trigger">
                        <img src="/frontend/public/assets/icons/icon_menu_yellow.svg" alt="Menu" class="parkalia-navbar__icon" >
                        <span class="parkalia-navbar__tooltip">Menú</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>
