.parkalia-sidebar-principal{

    flex:0 0 240px;

    height:100%;

    overflow-y:auto;
    overflow-x:hidden;

    scrollbar-width:thin;

    margin-top: 5px;
    border-right:1px solid rgba(255,255,255,.4);
}
.parkalia-sidebar-principal::-webkit-scrollbar{
    width:8px;
}

.parkalia-sidebar-principal::-webkit-scrollbar-track{
    background:#000;
}

.parkalia-sidebar-principal::-webkit-scrollbar-thumb{
    background:#000;
}
/*==========================================
    NAV
==========================================*/

.parkalia-sidebar-principal__nav{

    display:flex;
    flex-direction:column;

    padding: 0px 16px 0px 16px ;

    gap:14px;

}

/*==========================================
    GROUP
==========================================*/

.parkalia-sidebar-principal__group{

    border-bottom:1px solid rgba(255,255,255,.05);

}

/*==========================================
    BUTTON
==========================================*/

.parkalia-sidebar-principal__menu-button{

    width:100%;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:14px 16px;

    border:none;

    border-radius:14px;

    background:transparent;

    color:var(--gray-100);

    cursor:pointer;

    transition:.30s;

    font-size:var(--fs-xxxs);

    font-weight:600;

}

.parkalia-sidebar-principal__menu-button:hover{

    box-shadow:
    inset 0 0 0 1px rgba(255,193,7,.8);

}

.parkalia-sidebar-principal__menu-button.active{

    background:rgba(255,193,7,.12);

    color:var(--secondary-400);

    border-left:4px solid var(--secondary-500);

    box-shadow:
    inset 0 0 0 1px rgba(255,193,7,.18);

}

/*==========================================
    SUBMENU
==========================================*/

.parkalia-sidebar-principal__submenu{

    display:none;

    flex-direction:column;

    gap:4px;
    padding-left:10px;

}

.parkalia-sidebar-principal__submenu.active{

    display:flex;

}

/*==========================================
    LINKS
==========================================*/

.parkalia-sidebar__link,
.parkalia-sidebar__link--double{

    position:relative;

    display:flex;

    align-items:center;

    min-height:38px;

    padding:10px 14px;

    border-radius:10px;

    text-decoration:none;

    color:var(--gray-300);

    font-size:var(--fs-xxxxs);

    transition:.25s;

    overflow:hidden;

}

.parkalia-sidebar__link::before,
.parkalia-sidebar__link--double::before{

    content:"";

    position:absolute;

    left:0;
    top:0;

    width:3px;
    height:100%;

    background:var(--secondary-500);

    transform:scaleY(0);

    transition:.25s;

}

.parkalia-sidebar__link:hover,
.parkalia-sidebar__link--double:hover{

    background:rgba(255,255,255,.05);

    color:white;

    padding-left:22px;

}

.parkalia-sidebar__link:hover::before,
.parkalia-sidebar__link--double:hover::before{

    transform:scaleY(1);

}
