<section class="parkalia-register-step1-page">

    <div class="parkalia-register-step1-page__glow parkalia-register-step1-page__glow--left"></div>
    <div class="parkalia-register-step1-page__glow parkalia-register-step1-page__glow--right"></div>


    <div class="parkalia-register-step1-layout">


        <!--==================================================
        BANNER IZQUIERDO
        ==================================================-->

        <aside class="parkalia-register-step1-banner">


            <img 
                src="/frontend/public/assets/images/img_parquing.avif"
                alt="Contacto administrador Parkalia"
                class="parkalia-register-step1-banner__image">


            <div class="parkalia-register-step1-banner__overlay"></div>


            <div class="parkalia-register-step1__topbar">

                <a href="javascript:history.back()"
                    class="parkalia-btn-secondary parkalia-recipients-table__btn-secondary">


                    <img 
                        src="/frontend/public/assets/icons/icon_back.svg"
                        alt=""
                        class="parkalia-btn-secondary__icon parkalia-recipients-table__btn-secondary-icon">


                </a>

            </div>



            <div class="parkalia-register-step1-banner__card">


                <span class="parkalia-register-step1-banner__badge">
                    PARKALIA BUSINESS
                </span>


                <h2 class="parkalia-register-step1-banner__title">
                    Mantén tu comunicación activa
                </h2>


                <p class="parkalia-register-step1-banner__text">

                    Estos datos permitirán gestionar notificaciones, soporte, reservas y comunicación administrativa de tu parqueadero.

                </p>


            </div>


        </aside>





        <!--==================================================
        FORMULARIO DERECHO
        ==================================================-->

        <section class="parkalia-register-step1">


            <div class="parkalia-register-step1__card">


                <header class="parkalia-register-step1__header">


                    <h1 class="parkalia-register-step1__title">
                        Información de contacto
                    </h1>


                    <p class="parkalia-register-step1__subtitle">

                        Completa los datos de la persona encargada de administrar la cuenta.

                    </p>


                </header>





                <form class="parkalia-register-step1__form">



                    <div class="parkalia-register-step1__field">


                        <label class="parkalia-register-step1__label">
                            Nombre del administrador *
                        </label>


                        <div class="parkalia-register-step1__input-wrapper">

                            <input 
                                type="text"
                                class="parkalia-register-step1__input"
                                placeholder="Nombre completo">

                        </div>


                    </div>





                    <div class="parkalia-register-step1__field">


                        <label class="parkalia-register-step1__label">
                            Cargo
                        </label>


                        <div class="parkalia-register-step1__input-wrapper">

                            <input 
                                type="text"
                                class="parkalia-register-step1__input"
                                placeholder="Ej. Administrador">

                        </div>


                    </div>





                    <div class="parkalia-register-step1__field">


                        <label class="parkalia-register-step1__label">
                            Teléfono fijo
                        </label>


                        <div class="parkalia-register-step1__input-wrapper">


                            <input 
                                type="tel"
                                class="parkalia-register-step1__input"
                                placeholder="Número fijo">


                        </div>


                    </div>





                    <div class="parkalia-register-step1__field">


                        <label class="parkalia-register-step1__label">
                            Celular *
                        </label>


                        <div class="parkalia-register-step1__input-wrapper">


                            <input 
                                type="tel"
                                class="parkalia-register-step1__input"
                                placeholder="Número celular">


                        </div>


                    </div>





                    <div class="parkalia-register-step1__field">


                        <label class="parkalia-register-step1__label">
                            WhatsApp *
                        </label>


                        <div class="parkalia-register-step1__input-wrapper">


                            <input 
                                type="tel"
                                class="parkalia-register-step1__input"
                                placeholder="Número WhatsApp">


                        </div>


                    </div>





                    <div class="parkalia-register-step1__field">


                        <label class="parkalia-register-step1__label">
                            Correo de contacto
                        </label>


                        <div class="parkalia-register-step1__input-wrapper">


                            <input 
                                type="email"
                                class="parkalia-register-step1__input"
                                placeholder="contacto@empresa.com">


                        </div>


                    </div>





                    <div class="parkalia-register-step1__field">


                        <label class="parkalia-register-step1__label">
                            Página web
                        </label>


                        <div class="parkalia-register-step1__input-wrapper">


                            <input 
                                type="url"
                                class="parkalia-register-step1__input"
                                placeholder="https://www.ejemplo.com">


                        </div>


                    </div>



                </form>





                <div class="parkalia-register__button-primary">


                    <a href="/frontend/src/html/pages/registers/view_parkalia_register_parking_lot3.html"
                        class="parkalia-btn parkalia-btn--primary parkalia-login__parkalia-btn--primary parkalia-btn--expand">


                        <span class="parkalia-btn__text">
                            Siguiente
                        </span>


                        <img 
                            src="/frontend/public/assets/icons/icon_next-white.svg"
                            alt=""
                            class="parkalia-btn__icon">


                    </a>


                </div>


            </div>


        </section>



    </div>


</section>