<section class="parkalia-register-step1-page">

    <div class="parkalia-register-step1-page__glow parkalia-register-step1-page__glow--left"></div>
    <div class="parkalia-register-step1-page__glow parkalia-register-step1-page__glow--right"></div>


    <div class="parkalia-register-step1-layout">


        <!--==================================================
        BANNER IZQUIERDO
        ==================================================-->

        <aside class="parkalia-register-step1-banner">


            <img
                src="/frontend/public/assets/images/img_banking7.webp"
                alt="Promociones y horarios Parkalia"
                class="parkalia-register-step1-banner__image">


            <div class="parkalia-register-step1-banner__overlay"></div>



            <div class="parkalia-register-step1__topbar">


                <a href="javascript:history.back()"
                    class="parkalia-btn-secondary parkalia-recipients-table__btn-secondary">


                    <img
                        src="/frontend/public/assets/icons/icon_back.svg"
                        alt=""
                        class="parkalia-btn-secondary__icon parkalia-recipients-table__btn-secondary-icon">


                </a>


            </div>





            <header class="parkalia-register-step1__header">


                <h1 class="parkalia-register-step1__title">
                    Promociones y horarios
                </h1>


                <p class="parkalia-register-step1__subtitle">

                    Configura ofertas y disponibilidad de tu
                    <strong class="parkalia-register-step1__highlight">
                        parqueadero
                    </strong>.

                </p>


            </header>





            <div class="parkalia-register-step1-banner__card">


                <span class="parkalia-register-step1-banner__badge">
                    PARKALIA MANAGEMENT
                </span>


                <h2 class="parkalia-register-step1-banner__title">
                    Mejora la experiencia del cliente
                </h2>


                <p class="parkalia-register-step1-banner__text">

                    Crea promociones atractivas y define los horarios de atención para que tus clientes conozcan siempre la disponibilidad del servicio.

                </p>


            </div>


        </aside>






        <!--==================================================
        FORMULARIO DERECHO
        ==================================================-->

        <section class="parkalia-register-step1">


            <div class="parkalia-register-step1__card">




                <form class="parkalia-register-step1__form">





                    <!--=========================
                    PROMOCIONES
                    =========================-->



                    <div class="parkalia-register-step1__field">

                        <label class="parkalia-register-step1__label">
                            Nombre promoción
                        </label>


                        <input 
                            type="text"
                            class="parkalia-register-step1__input"
                            placeholder="Ej. Descuento clientes frecuentes">


                    </div>



                    <div class="parkalia-register-step1__field">


                        <label class="parkalia-register-step1__label">
                            Días de atención
                        </label>



                        <div class="parkalia-register-step1__content-label">


                            <label>
                                <input type="checkbox">
                                Lunes
                            </label>


                            <label>
                                <input type="checkbox">
                                Martes
                            </label>


                            <label>
                                <input type="checkbox">
                                Miércoles
                            </label>


                            <label>
                                <input type="checkbox">
                                Jueves
                            </label>


                            <label>
                                <input type="checkbox">
                                Viernes
                            </label>


                            <label>
                                <input type="checkbox">
                                Sábado
                            </label>


                            <label>
                                <input type="checkbox">
                                Domingo
                            </label>


                            <label>
                                <input type="checkbox">
                                Festivos
                            </label>


                        </div>


                    </div>

                    





                    <div class="parkalia-register-step1__field">


                        <label class="parkalia-register-step1__label">
                            Tipo de descuento
                        </label>


                        <select class="parkalia-register-step1__select">

                            <option>Porcentaje</option>
                            <option>Valor fijo</option>
                            <option>Tarifa especial</option>

                        </select>


                    </div>





                    <div class="parkalia-register-step1__field">


                        <label class="parkalia-register-step1__label">
                            Valor descuento
                        </label>


                        <input 
                            type="number"
                            class="parkalia-register-step1__input">


                    </div>





                    <div class="parkalia-register-step1__field">


                        <label class="parkalia-register-step1__label">
                            Fecha inicio
                        </label>


                        <input 
                            type="date"
                            class="parkalia-register-step1__input">


                    </div>





                    <div class="parkalia-register-step1__field">


                        <label class="parkalia-register-step1__label">
                            Fecha final
                        </label>


                        <input 
                            type="date"
                            class="parkalia-register-step1__input">


                    </div>





                    <div class="parkalia-register-step1__field">


                        <label class="parkalia-register-step1__label">
                            Imagen promoción
                        </label>


                        <input 
                            type="file"
                            class="parkalia-register-step1__file"
                            accept="image/*">


                    </div>







                    <!--=========================
                    HORARIOS
                    =========================-->



                    <div class="parkalia-register-step1__field">


                        <label class="parkalia-register-step1__label">
                            ¿Abierto 24 horas?
                        </label>


                        <select class="parkalia-register-step1__select">


                            <option>Sí</option>
                            <option>No</option>


                        </select>


                    </div>





                    <div class="parkalia-register-step1__field">


                        <label class="parkalia-register-step1__label">
                            Hora apertura
                        </label>


                        <input 
                            type="time"
                            class="parkalia-register-step1__input">


                    </div>





                    <div class="parkalia-register-step1__field">


                        <label class="parkalia-register-step1__label">
                            Hora cierre
                        </label>


                        <input 
                            type="time"
                            class="parkalia-register-step1__input">


                    </div>





                    <div class="parkalia-register-step1__field">


                        <label class="parkalia-register-step1__label">
                            Horario especial en festivos
                        </label>


                        <textarea
                            class="parkalia-register-step1__textarea"
                            placeholder="Ej. Atención especial durante festivos"></textarea>


                    </div>





                    

                    <div class="parkalia-register-step1__field">


                        <label class="parkalia-register-step1__label">
                            Descripción
                        </label>


                        <textarea
                            class="parkalia-register-step1__textarea"
                            placeholder="Describe la promoción"></textarea>


                    </div>





                </form>





                <div class="parkalia-register__button-primary">


                    <a href="/frontend/src/html/pages/registers/view_parkalia_register7.html"
                        class="parkalia-btn parkalia-btn--primary parkalia-login__parkalia-btn--primary parkalia-btn--expand">


                        <span class="parkalia-btn__text">
                            Siguiente
                        </span>


                        <img
                            src="/frontend/public/assets/icons/icon_next-white.svg"
                            alt=""
                            class="parkalia-btn__icon">


                    </a>


                </div>



            </div>


        </section>




    </div>


</section>