<section class="parkalia-register-step1-page">
  <div class="parkalia-register-step1-page__glow parkalia-register-step1-page__glow--left"></div>
  <div class="parkalia-register-step1-page__glow parkalia-register-step1-page__glow--right"></div>
  <div class="parkalia-register-step1-layout">
    <section class="parkalia-register-step1">
      <div class="parkalia-register-step1__card">
        <div class="parkalia-register-step1__topbar">
            <a href="javascript:history.back()" alt="Volver" class="parkalia-btn-secondary parkalia-recipients-table__btn-secondary">
                <img src="/frontend/public/assets/icons/icon_back.svg" alt="" class="parkalia-btn-secondary__icon parkalia-recipients-table__btn-secondary-icon">
            </a>
        </div>
        <header class="parkalia-register-step1__header">
          <h1 class="parkalia-register-step1__title">Completa tu registro</h1>
          <p class="parkalia-register-step1__subtitle">Último paso para crear tu cuenta en<strong class="parkalia-register-step1__highlight">parkalia</strong></p>
        </header>
        <form class="parkalia-register-step1__form">
          <!-- ===================================================== -->
          <!-- DATOS BANCARIOS -->
          <!-- ===================================================== -->

          <div class="parkalia-register-step1__field">
            <label class="parkalia-register-step1__label">Banco</label>
          <input type="text" class="parkalia-register-step1__input">
          </div>

          <div class="parkalia-register-step1__field">
            <label class="parkalia-register-step1__label">Tipo de cuenta</label>
            <select class="parkalia-register-step1__select">
              <option>Ahorros</option>
              <option>Corriente</option>
            </select>
          </div>

          <div class="parkalia-register-step1__field">
            <label class="parkalia-register-step1__label">Número de cuenta</label>
            <input type="text" class="parkalia-register-step1__input">
          </div>

          <div class="parkalia-register-step1__field">
            <label class="parkalia-register-step1__label">Titular de la cuenta</label>
            <input type="text" class="parkalia-register-step1__input">
          </div>

          <div class="parkalia-register-step1__field">
            <label class="parkalia-register-step1__label">Documento del titular</label>
            <input type="text" class="parkalia-register-step1__input">
          </div>

          <div class="parkalia-register-step1__field">
            <label class="parkalia-register-step1__label">Correo para pagos</label>
            <input type="email" class="parkalia-register-step1__input">
          </div>

          <!-- ===================================================== -->
          <!-- FACTURACIÓN -->
          <!-- ===================================================== -->

          <div class="parkalia-register-step1__field">
            <label class="parkalia-register-step1__label">¿Emite factura electrónica?</label>
            <select class="parkalia-register-step1__select">
              <option>Sí</option>
              <option>No</option>
          </select>
          </div>

          <div class="parkalia-register-step1__field">
            <label class="parkalia-register-step1__label">Resolución DIAN</label>
            <input type="text" class="parkalia-register-step1__input">
          </div>

          <div class="parkalia-register-step1__field">
            <label class="parkalia-register-step1__label">Prefijo de facturación</label>
          <input type="text" class="parkalia-register-step1__input">
          </div>

          <!-- ===================================================== -->
          <!-- NOTIFICACIONES -->
          <!-- ===================================================== -->

          <div class="parkalia-register-step1__field">
            <label class="parkalia-register-step1__label">Recibir notificaciones por</label>

            <label><input type="checkbox"> Correo electrónico</label><br>
            <label><input type="checkbox"> WhatsApp</label><br>
            <label><input type="checkbox"> SMS</label><br>
            <label><input type="checkbox"> Notificaciones Push</label>
          </div>

          <!-- ===================================================== -->
          <!-- IDIOMA -->
          <!-- ===================================================== -->

          <div class="parkalia-register-step1__field">
            <label class="parkalia-register-step1__label">Idioma principal</label>
            <select class="parkalia-register-step1__select">
              <option>Español</option>
              <option>English</option>
              <option>Português</option>
            </select>
          </div>

          <!-- ===================================================== -->
          <!-- MONEDA -->
          <!-- ===================================================== -->

          <div class="parkalia-register-step1__field">
            <label class="parkalia-register-step1__label">Moneda principal</label>
            <select class="parkalia-register-step1__select">
              <option>Peso Colombiano (COP)</option>
              <option>Dólar (USD)</option>
              <option>Euro (EUR)</option>
            </select>
          </div>
        </form>
        <div class="parkalia-register__button-primary">
          <a href="/frontend/src/html/pages/registers/view_parkalia_register9.html" class="parkalia-btn parkalia-btn--primary parkalia-login__parkalia-btn--primary parkalia-btn--expand">
              <span class="parkalia-btn__text">Siguiente</span>
              <img src="/frontend/public/assets/icons/icon_next-white.svg" alt="" class="parkalia-btn__icon">
          </a>
        </div>
      </div>
    </section>
    <aside class="parkalia-register-step1-banner">
      <img src="/frontend/public/assets/images/img_banking7.webp" alt="parkalia" class="parkalia-register-step1-banner__image">
      <div class="parkalia-register-step1-banner__overlay"></div>
      <div class="parkalia-register-step1-banner__card">
        <span class="parkalia-register-step1-banner__badge">parkalia SECURITY</span>
        <h1 class="parkalia-register-step1-banner__title">Seguridad avanzada</h1>
        <p class="parkalia-register-step1-banner__text">Protegemos tu cuenta con tecnología de última generación.</p>
      </div>
    </aside>
  </div>
</section>